@import '~antd/dist/antd.css';
.ant-typography {
  color: #ffffff;
}
::selection {
  background: transparent;
}
::-webkit-selection {
  background: transparent;
}
::-moz-selection {
  background: transparent;
}

